/* CSS required for the navbar */

.nav-tabs {
    border-bottom-left-radius: 0px;
}

.nav-tabs .nav-link {
    background-color: rgba(68, 155, 110, 0.5);
    color: #fff;
    border-color: rgba(255, 255, 255, 0.5);
    border-bottom-color: #fff;
}

.nav-link {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.nav-tabs .nav-link.active {
    border-bottom-color: rgba(68, 155, 110, 0.01);
    background-color: rgb(68, 155, 110);
    color: #fff;
    border-color: #fff;
    border-bottom-color: rgba(68, 155, 110, 0.01);
}

.tab-content {
    border-left-color: #fff;
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#navbar-title
{
    padding-top: 10px;
    padding-bottom: 10px;
}